body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ami{
    background-color: rgb(241, 113, 7);
    width: 500px;
    height: 60px;
    text-align: center;
    font-size: xx-large;
    padding: 20px 200px;
}
.tomi{
    background-color: rgb(30, 69, 243);
    width: 500px;
    height: 60px;
    text-align: center;
    font-size: xx-large;
    padding: 20px 200px;
}
.she{
    background-color: rgb(14, 133, 3);
    width: 500px;
    height: 60px;
    text-align: center;
    font-size: xx-large;
    padding: 20px 200px;
}
button{
    width: 80px;
    height: 40px;
    box-shadow: 0 0 10 #aaaa;
    background-color: tomato;
    border-radius: 7px;
}